@import '~antd/dist/antd.css';

.text-peach{
    color: #f19292;
}

.title-big {
    font-size: 50px;
}

.title-medium {
    font-size: 30px;
}

.desc-medium {
    font-size: 18px;
}

.bold {
    font-weight: 700;
}

.home-container {
    background-color: #ffffff;
}

.section-container {
    margin: 0 80px;
    margin-bottom: 100px;
}

