@import '~antd/dist/antd.css';

.site-card-wrapper {
  background: #ffffff;
  padding: 30px;
}

.card-layout{
  background: #f0efef;
  text-align: center;
}

.section-container {
  margin: 0 80px;
  margin-bottom: 100px;
}
