.section-container {
    margin: 0 80px;
    margin-bottom: 100px;
}

.full-container {
    min-height: 100vh;
}

.about-container {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 500px;
}

.card-about-container{
  
  justify-content: center;
  
}

.line-home {
    min-height: 5px;
    background-color: #f19292;
    border: none;
    max-width: 200px;
    border-radius: 30px;
}

.about-desc {
    font-size: 14px;
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

